@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --left: 0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  font-family: 'Mali', cursive;
  color: #fff;
}

body {
	overflow-y: hidden;
  background-image: linear-gradient(to bottom, #3DA5FA 0%, #EEF5FF 100%);
  max-width: 1920px;
}

/****************************** Extension ******************************/
.backgroud-full {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.center {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

.fullwidth{
  width:100%;
}

.header {
  width: 100%;
  text-align: left;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.left {
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.description {
  text-align: left;
  font-size: 20px;
  padding: 1rem;
  background-color: rgba(17, 17, 17, 0.5);
}

/****************************** Extension ******************************/

.logo {
  width: 325px;
  height: 150px;
  position: absolute;
  background-image: url("https://media.discordapp.net/attachments/598560825036242957/894649130696200262/2560px-Olympic_rings_without_rims.png?width=960&height=444");
}

#output {
  font-size: 1em;
  position:fixed;
  top:0;
  left:0;
  background: #000;;
  z-index: 3;
}

/****************************** Background ******************************/
.building {
  width: 100%;
	height: calc(100vh - 6rem);
  background-image: url(/img/background/landmark.png);
  background-position: bottom;
  background-size: 100%;
  z-index: -1;
  position: absolute;
  background-repeat: repeat-x;
  background-position-x: calc(var(--left) * -.1px);
  filter: blur(2px);
}
/****************************** Background ******************************/


/****************************** Footer ******************************/
footer {
  width: 100%;
  height: 6rem;
  bottom: 0;
  position: absolute;
  background-repeat: repeat-x;
  background-position-x: calc(var(--left) * -1px);
}

footer[data-footerseason="track"] {
  background-image: url("/img/footer/run-track.png");
}

footer[data-footerseason="summer"] {
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/893863724711022602/unknown.png");
}

footer[data-footerseason="winter"] {
  background-image: url("https://media.discordapp.net/attachments/598560825036242957/894713726329053275/pngkey.com-snow-png-14498.png?width=960&height=298");
}

.athlete {
  width: 203.5px;
  height: 240px;
  bottom: 3rem;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/886628120113844254/image2_1.gif");
  transition: .1s;
  z-index: 2;
}
/****************************** Footer ******************************/

/****************************** Slider & Section ******************************/
.slider {
	font-family: sans-serif;
	/*scroll-snap-type: x mandatory;*/
	display: flex;
	overflow-x: scroll;
  background-size: cover calc(100vh - 6rem);
  background-repeat: no-repeat;
}

section {
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: start;
	text-align: center;
	position: relative;
  transition: 1s;
  padding: 0 6rem 6rem;
}
/****************************** Slider & Section ******************************/

/****************************** Data-Set-background ******************************/

/****************************** Summer ******************************/
#main[data-main="summer"] {
  background-image: url(/img/background/landmark.png);
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}

#page1[data-season="s-1896"] {
  background-image: url(/img/landmark/greece.png);
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}

#page2[data-season="r-1896"] {
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/898933584197484604/unknown.png");
  background-origin: content-box;
  background-position: bottom;
  background-size: 30%;
}

#page3[data-season="s-1900"] {
  background-image: url(/img/landmark/france.png);
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}

#page4[data-season="r-1900"] {
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}

#page5[data-season="s-1948"] {
  background-image: url(/img/landmark/italy.png);
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}

#page6[data-season="r-1948"] {
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}

#page7[data-season="s-2000"] {
  background-image: url(/img/landmark/australia.png);
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}

#page8[data-season="r-2000"] {
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}

#page9[data-season="s-2020"] {
  background-image: url(/background/ญี่ปุ่น.png);
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}

#page10[data-season="r-2020"] {
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}
/****************************** Summer ******************************/

/****************************** Winter ******************************/
#main[data-main="winter"] {
  background: hsl(200, 100%, 50%);
}

#page1[data-season="w-1924"] {
  background-image: url(/background/ฝรั่งเศส2.png);
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}

#page2[data-season="r-1924"] {
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}

#page3[data-season="w-1936"] {
  background-image: url(/background/เยอรมัน.png);
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}
#page4[data-season="r-1936"] {
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}

#page5[data-season="w-1948"] {
  background-image: url(/background/ซวิต.png);
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}

#page6[data-season="d-1948"] {
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}

#page7[data-season="w-1984"] {
  background: hsl(200, 100%, 15%);
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}

#page8[data-season="r-1984"] {
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}

#page9[data-season="w-2022"] {
  background-image: url(/background/จีนปักกิ่ง.png);
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}

#page10[data-season="r-2022"] {
  background-origin: content-box;
  background-position: bottom;
  background-size: 100%;
}
/****************************** Winter ******************************/

/****************************** Data-Set-background ******************************/


/****************************** Grid ******************************/
.grid {
	display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  z-index: 2;
}

.column-3 {
	grid-template-columns: repeat(3, 1fr);
}
.grid > div.span-3 {
	grid-column: span 3;
}

.column-4 {
	grid-template-columns: repeat(4, 1fr);
}
.grid > div.span-4 {
	grid-column: span 4;
}

.column-6 {
	grid-template-columns: repeat(6, 1fr);
}
.grid > div.span-6 {
	grid-column: span 6;
}

.column-8 {
	grid-template-columns: repeat(8, 1fr);
}
.grid > div.span-8 {
	grid-column: span 8;
}

.column-12 {
	grid-template-columns: repeat(12,1fr);
}
.grid > div.span-12 {
	grid-column: span 12;
}
/****************************** Grid ******************************/


/****************************** Switch SS ******************************/
.change {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;

}
/****************************** Switch SS ******************************/



/****************************** Barrier ******************************/
.barrier {
  width: 100px;
  height: 100px;
  bottom: 2rem;
  position: absolute;
  z-index: 1;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/898787099321458698/2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.barrier[data-barrier="1"] {
  left: 20rem;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/898774059016388648/e7b6c81cde0aee44.PNG");
}

.barrier[data-barrier="2"] {
  right: 10rem;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/898774059016388648/e7b6c81cde0aee44.PNG");
}

.barrier[data-barrier="3"] {
  left: 20rem;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/898774059016388648/e7b6c81cde0aee44.PNG");
}

.barrier[data-barrier="4"] {
  left: 55%;
  right: 50%;
}

.barrier[data-barrier="5"] {
  right: 0rem;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/898774059016388648/e7b6c81cde0aee44.PNG");
  
}
.barrier[data-barrier="6"] {
  left: 20rem;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/898774059016388648/e7b6c81cde0aee44.PNG");
}

.barrier[data-barrier="7"] {
  left: 55%;
  right: 50%;
}

.barrier[data-barrier="8"] {
  right: 0rem;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/898774059016388648/e7b6c81cde0aee44.PNG");
  
}
.barrier[data-barrier="9"] {
  left: 20rem;
 
}

.barrier[data-barrier="10"] {
  left: 50%;
  right: 50%;
  background-image: url('https://media.discordapp.net/attachments/871977129376616459/898774073071529984/07118eeb663b721b.PNG');
 
  
}

.barrier[data-barrier="11"] {
  width: 400px;
  right: 0rem;
  bottom: 1rem;
  background-image: url('https://media.discordapp.net/attachments/871977129376616459/898774077752361002/d64453cba9a7c2ca.PNG');
  background-size: 100%;
}

.barrier[data-barrier="12"] {
  left: 20rem;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/898774059016388648/e7b6c81cde0aee44.PNG");
}

.barrier[data-barrier="13"] {
}

.barrier[data-barrier="14"] {
  right: 0rem;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/898774059016388648/e7b6c81cde0aee44.PNG");
  
}

.barrier[data-barrier="15"] {
  left: 20rem;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/898774059016388648/e7b6c81cde0aee44.PNG");
}

.barrier[data-barrier="16"] {
  right: 10rem;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/898774073071529984/07118eeb663b721b.PNG");
}

.barrier[data-barrier="17"] {
  left: 0rem;
  width: 500px;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/898774077752361002/d64453cba9a7c2ca.PNG");
}

.barrier[data-barrier="18"] {
  
}

.barrier[data-barrier="19"] {
  
  right: 0rem;
 
  
}
.barrier[data-barrier="20"] {
  left: 20rem;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/898774073071529984/07118eeb663b721b.PNG");
}

.barrier[data-barrier="21"] {
  
 
  
}

.barrier[data-barrier="22"] {
  right: 20rem;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/898774073071529984/07118eeb663b721b.PNG");
  
}
.barrier[data-barrier="23"] {
  width: 500px;
  left: 5rem;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/898774077752361002/d64453cba9a7c2ca.PNG");
}

.barrier[data-barrier="24"] {
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/898774073071529984/07118eeb663b721b.PNG");
}

.barrier[data-barrier="25"] {
  right: 10rem;
  
}

.barrier[data-barrier="26"] {
  width: 500px;
  left: 5rem;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/898774077752361002/d64453cba9a7c2ca.PNG");
}

.barrier[data-barrier="27"] {
  right: 10rem;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/898774073071529984/07118eeb663b721b.PNG");
}



/****************************** Barrier ******************************/

/****************************** Change Season ******************************/
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden; 
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 200px;
	height: 100px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 90px;
	height: 90px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}
/****************************** Change Season ******************************/

/****************************** Cloud ******************************/
.cloud {
  width: 200px;
  height: 100px;
  background-image: url("/img/background/cloud.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  animation: cloud 60s linear infinite;
}

.cloud[data-cloud="1"] {
  margin: 0 30rem 20rem 0;
  transform: scale(1.5);
}

.cloud[data-cloud="2"] {
  margin: 0 20rem 10rem 0;
  transform: scale(1.8);
}

.cloud[data-cloud="3"] {
  margin: 0 55rem 15rem 0;
  transform: scale(2);
}

.cloud[data-cloud="4"] {
  margin: 0 10rem 48rem 45rem;
  transform: scale(1.5);
}

.cloud[data-cloud="5"] {
  margin: 0 15rem 35rem 50rem;
  transform: scale(.75);
}

.cloud[data-cloud="6"] {
  margin: 0 0 10rem 40rem;
  transform: scale(.5);
}

.cloud[data-cloud="7"] {
  margin: 0 0 25rem 15rem;
  transform: scale(1.75);
}

.cloud[data-cloud="8"] {
  margin: 0 10rem 15rem 0;
  transform: scale(.5);
}

.cloud[data-cloud="9"] {
  margin: 0 30rem 30rem 0;
  transform: scale(.75);
}

.cloud[data-cloud="10"] {
  margin: 0 45rem 28rem 0;
  transform: scale(.75);
}

.cloud[data-cloud="11"] {
  margin: 0 37rem 40rem 0;
  transform: scale(.75);
}

.cloud[data-cloud="12"] {
  margin: 0 55rem 38rem 0;
  transform: scale(.5);
}


@keyframes cloud {
  from {right: -50%;}
  to {right: 150%;}  
}
/****************************** Cloud ******************************/


.door {
  height: 100%;
  width: 100px;
  background: #000;
  z-index: 4;
  position: absolute;
  bottom: 0;
}

.door[data-door="1"] {
  left: 0rem;
}

.door[data-door="2"] {
  right: 0;
}

/****************************** snow *********************************/

.snow{
  width: 10px;;
  height:10px;
  background-color:white;
  position: absolute;
  box-shadow: 0px 0px 10px 10px white;
  border-radius: 100%;
}

@keyframes move{
  from{top:-10%;}
  to{top:120%;}
}

@keyframes left{
  from{transform: translate(-20px);}
  to{transform:translate(20px);}
}

@keyframes right{
  from{transform: translate(20px);}
  to{transform:translate(-20px);}
}

.s1{
  left: 10%;
  animation: move 10s infinite,
  left 15s infinite;
}

.s2{
  left: 25%;
  animation: move 12s infinite,
  left 21s infinite;
}

.s3{
  left: 30%;
  animation: move 19s infinite,
  left 12s infinite;
}

.s4{
  left: 35%;
  animation: move 8s infinite,
  right 25s infinite;
}

.s5{
  left: 40%;
  animation: move 13s infinite,
  left 10s infinite;
}

.s6{
  left: 45%;
  animation: move 7s infinite,
  left 26s infinite;
}

.s7{
  left: 50%;
  animation: move 14s infinite,
  left 30s infinite;
}

.s8{
  left: 7%;
  animation: move 17s infinite,
  right 25s infinite;
}

.s9{
  left: 60%;
  animation: move 16s infinite,
  left 27s infinite;
}

.s10{
  left: 2%;
  animation: move 22s infinite,
  left 19s infinite;
}

.s11{
  left: 70%;
  animation: move 9s infinite,
  left 20s infinite;
}

.s12{
  left: 75%;
  animation: move 11s infinite,
  left 28s infinite;
}

.s13{
  left: 80%;
  animation: move 9s infinite,
  right 27s infinite;
}

.s14{
  left: 85%;
  animation: move 14s infinite,
  left 25s infinite;
}

.s15{
  left: 5%;
  animation: move 16s infinite,
  left 24s infinite;
}

.s16{
  left: 95%;
  animation: move 13s infinite,
  right 23s infinite;
}

/*************************************************************** snow ********************************************************************/