@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

* {
	box-sizing: border-box;
	margin: auto;
	padding: 0;
  font-family: 'Prompt', sans-serif;
}

body {
	overflow-y: hidden;
}

#output {
  font-size:3em;
  position:fixed;
  top:0;
  left:0;
  background:#fffc;
  z-index: 3;
}

.fullscreen {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  width: 325px;
  height: 150px;
  position: absolute;
  background-image: url("https://media.discordapp.net/attachments/598560825036242957/894649130696200262/2560px-Olympic_rings_without_rims.png?width=960&height=444");
}

.athlete {
  width: 160px;
  height: 200px;
  bottom: 1rem;
  left: 0;
  right: 0;
  position: absolute;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/886628120113844254/image2_1.gif");
  z-index: 2;
}

footer {
  width: 100%;
  height: 5rem;
  bottom: 0;
  position: fixed;
  background-image: url("https://media.discordapp.net/attachments/598560825036242957/894714408436125756/Green_Grass_Ground_PNG_Clipart.png?width=960&height=250");
  z-index: 1;
  transition: 1s;
}

[data-footerseason="summer"] {
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/893863724711022602/unknown.png");
}

[data-footerseason="winter"] {
  background-image: url("https://media.discordapp.net/attachments/598560825036242957/894713726329053275/pngkey.com-snow-png-14498.png?width=960&height=298");
}

.slider {
	font-family: sans-serif;
	/*scroll-snap-type: x mandatory;*/	
	display: flex;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}

section {
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: start;
	text-align: center;
	position: relative;
  transition: 1s;
}

#flag {
  width: 300px;
  height: 200px;
  background-image: url("https://lh3.googleusercontent.com/proxy/aBsfsbOqQBYpyjFkqkjfylHMpgWCdddhMJ3ZATp-u7drZ_Rc9hnecCaozy40cYvVBeogqQ9GQ2ePYf5rgV_LnSCAmh01E_vVPCAylSozWTaGH03d1Alx8VQ2yBfWEQXYlpTXar5133NG7ebyx8ZOkMDslX9N");
}

#pic {
  width: 300px;
  height: 200px;
  background-image: url("https://lh3.googleusercontent.com/proxy/aBsfsbOqQBYpyjFkqkjfylHMpgWCdddhMJ3ZATp-u7drZ_Rc9hnecCaozy40cYvVBeogqQ9GQ2ePYf5rgV_LnSCAmh01E_vVPCAylSozWTaGH03d1Alx8VQ2yBfWEQXYlpTXar5133NG7ebyx8ZOkMDslX9N");
}

[data-home="home"] {
  background-image: url("https://media.discordapp.net/attachments/598560825036242957/894721258430820455/people-in-public-park-with-town-background-illustration-nature-landscsape-with-people-recreation-vec.png?width=960&height=540");
}

[data-main="main"] {
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/894643013299605504/football-field-stadium-background-free-vector.png?width=1067&height=683");
}

[data-main="summer"] {
  background-image: url("https://media.discordapp.net/attachments/598560825036242957/894717615887503380/nature-landscape-summer-background-flat-design-scene-nature-with-hills-mountains-and-sky-background-.png?width=960&height=544");
}

[data-main="winter"] {
  background-image: url("https://media.discordapp.net/attachments/598560825036242957/894717475009220679/1.png");
}

[data-season="main"] {
	background: yellow;
}

[data-season="summer"] {
	background: orange;
}


[data-season="s-1896"] {
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/894733538350469130/image.jpg?width=960&height=540");
}
[data-year="s-1896"] #flag {
  background-image: url("https://1.bp.blogspot.com/-LtYhEFENGLQ/YDZp3qs7kZI/AAAAAAAA4J4/3yngkjdgfowZTBJpapWzpTNUhXcBxuLAwCLcBGAsYHQ/s0/Flag_of_Greece.gif");
}
[data-year="s-1896"] #pic {
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/894750592482811914/493ac2be4d7f9512c61b5af6df757f7e.png");
}


[data-season="winter"] {
	background: cornflowerblue;
}
[data-season="w-1924"] {
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/894825951018512394/image.png?width=960&height=540");
}
[data-year="w-1924"] #flag {
  background-image: url("https://images-ext-2.discordapp.net/external/oJzzQyIKWl2AHNErVbtRl5Io9GsNKNL4qhoxhrcNdyY/https/acegif.com/wp-content/gifs/france-flag-2.gif");
}


/* Gird */
.container {
  width:100%;
  max-width:1024;
  padding:0 1rem;
  margin:auto;
  box-sizing:border-box;
}

.flex-center-parent {
  display:flex;
  justify-content:center;
  align-items:center;
}

.fullwidth{
  width:100%;
}

.padding{
  padding: 1rem;	
}

.card-article{
  border-radius:10px;
  overflow:hidden;
  box-shadow:0px 0px 8px grey;
  background:white;
  color:black;
  transition: 1s;
}

.padding{
  padding:1rem;
}
.grid-parent,.column-12 {
  display:grid;
  grid-template-columns:repeat(12,1fr);
  grid-gap:2.5rem;
}
.column-1{
  grid-template-columns:repeat(1,1fr);
}
.column-2{
  grid-template-columns:repeat(2,1fr);
}
.column-3{
  grid-template-columns:repeat(3,1fr);
}
.column-4{
  grid-template-columns:repeat(4,1fr);
}
.column-5{
  grid-template-columns:repeat(5,1fr);
}
.column-6{
  grid-template-columns:repeat(6,1fr);
}
.column-7{
  grid-template-columns:repeat(7,1fr);
}
.column-8{
  grid-template-columns:repeat(8,1fr);
}
.column-9{
  grid-template-columns:repeat(9,1fr);
}
.column-10{
  grid-template-columns:repeat(10,1fr);
}
.column-11{
  grid-template-columns:repeat(11,1fr);
}

.grid-parent > div{
}
.grid-parent > div.span-1{
  grid-column:span 1;
}
.grid-parent > div.span-2{
  grid-column:span 2;
}
.grid-parent > div.span-3{
  grid-column:span 3;
}
.grid-parent > div.span-4{
  grid-column:span 4;
}
.grid-parent > div.span-5{
  grid-column:span 5;
}
.grid-parent > div.span-6{
  grid-column:span 6;
}
.grid-parent > div.span-7{
  grid-column:span 7;
}
.grid-parent > div.span-8{
  grid-column:span 8;
}
.grid-parent > div.span-9{
  grid-column:span 9;
}
.grid-parent > div.span-10{
  grid-column:span 10;
}
.grid-parent > div.span-11{
  grid-column:span 11;
}
.grid-parent > div.span-12{
  grid-column:span 12;
}

@media (max-width: 1024px) {
  body{
    --h:330;
  }
}

@media (max-width: 768px) {
  body{
    --h:190;
  }
  .mob-column-12{
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-gap:2.5rem;
  }
  .mob-column-1{
    grid-template-columns:repeat(1,1fr);
  }
  .mob-column-2{
    grid-template-columns:repeat(2,1fr);
  }
  .mob-column-3{
    grid-template-columns:repeat(3,1fr);
  }
  .mob-column-4{
    grid-template-columns:repeat(4,1fr);
  }
  .mob-column-5{
    grid-template-columns:repeat(5,1fr);
  }
  .mob-column-6{
    grid-template-columns:repeat(6,1fr);
  }
  .mob-column-7{
    grid-template-columns:repeat(7,1fr);
  }
  .mob-column-8{
    grid-template-columns:repeat(8,1fr);
  }
  .mob-column-9{
    grid-template-columns:repeat(9,1fr);
  }
  .mob-column-10{
    grid-template-columns:repeat(10,1fr);
  }
  .mob-column-11{
    grid-template-columns:repeat(11,1fr);
  }

  .grid-parent > div.mob-span-1{
    grid-column:span 1;
  }
  .grid-parent > div.mob-span-2{
    grid-column:span 2;
  }
  .grid-parent > div.mob-span-3{
    grid-column:span 3;
  }
  .grid-parent > div.mob-span-4{
    grid-column:span 4;
  }
  .grid-parent > div.mob-span-5{
    grid-column:span 5;
  }
  .grid-parent > div.mob-span-6{
    grid-column:span 6;
  }
  .grid-parent > div.mob-span-7{
    grid-column:span 7;
  }
  .grid-parent > div.mob-span-8{
    grid-column:span 8;
  }
  .grid-parent > div.mob-span-9{
    grid-column:span 9;
  }
  .grid-parent > div.mob-span-10{
    grid-column:span 10;
  }
  .grid-parent > div.mob-span-11{
    grid-column:span 11;
  }
  .grid-parent > div.mob-span-12{
    grid-column:span 12;
  }
}
/* Gird */