@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --left: 0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  font-family: 'Mali', cursive;
  color: #fff;
}

body {
	overflow-y: hidden;
  background-image: linear-gradient(to bottom, #3DA5FA 0%, #EEF5FF 100%);
}

/****************************** Extension ******************************/
.backgroud-full {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.center {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

.fullwidth{
  width:100%;
}

.header {
  width: 100%;
  text-align: left;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.left {
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.description {
  text-align: left;
  font-size: 20px;
  padding: 1rem;
  background-color: rgba(17, 17, 17, 0.5);
}

/****************************** Extension ******************************/

.logo {
  width: 325px;
  height: 150px;
  position: absolute;
  background-image: url("https://media.discordapp.net/attachments/598560825036242957/894649130696200262/2560px-Olympic_rings_without_rims.png?width=960&height=444");
}

#output {
  font-size: 1em;
  position:fixed;
  top:0;
  left:0;
  background: #000;;
  z-index: 3;
}

/****************************** Footer ******************************/
footer {
  width: 100%;
  height: 6rem;
  bottom: 0;
  position: absolute;
  z-index: 1;
  background-repeat: repeat-x;
  background-position-x: calc(var(--left) * -1px);
}

footer[data-footerseason="track"] {
  background-image: url("/img/footer/track.png");
}

footer[data-footerseason="summer"] {
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/893863724711022602/unknown.png");
}

footer[data-footerseason="winter"] {
  background-image: url("https://media.discordapp.net/attachments/598560825036242957/894713726329053275/pngkey.com-snow-png-14498.png?width=960&height=298");
}

.athlete {
  width: 203.5px;
  height: 240px;
  bottom: 2.5rem;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  background-image: url("https://media.discordapp.net/attachments/871977129376616459/886628120113844254/image2_1.gif");
  transition: .1s;
  z-index: 2;
}
/****************************** Footer ******************************/

/****************************** Slider & Section ******************************/
.slider {
	font-family: sans-serif;
	/*scroll-snap-type: x mandatory;*/
	display: flex;
	overflow-x: scroll;
  background-image: url(/img/background/building.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

section {
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: start;
	text-align: center;
	position: relative;
  transition: 1s;
  padding: 0 5rem 5rem;
}
/****************************** Slider & Section ******************************/

/****************************** Data-Set-background ******************************/

/****************************** Summer ******************************/
#main[data-main="summer"] {
  background: hsl(0, 100%, 50%);
  /* ใส่รูป */
}

#page1[data-season="s-1896"] {
  background: hsl(0, 100%, 45%);
}

#page2[data-season="r-1896"] {
  background: hsl(0, 100%, 40%);
}

#page3[data-season="s-1900"] {
  background: hsl(0, 100%, 35%);
}

#page4[data-season="r-1900"] {
  background: hsl(0, 100%, 30%);
}

#page5[data-season="s-1948"] {
  background: hsl(0, 100%, 25%);
}

#page6[data-season="r-1948"] {
  background: hsl(0, 100%, 20%);
}

#page7[data-season="s-2000"] {
  background: hsl(0, 100%, 15%);
}

#page8[data-season="r-2000"] {
  background: hsl(0, 100%, 10%);
}

#page9[data-season="s-2020"] {
  background: hsl(0, 100%, 5%);
}

#page10[data-season="r-2020"] {
  background: hsl(0, 100%, 0%);
}
/****************************** Summer ******************************/

/****************************** Winter ******************************/
#main[data-main="winter"] {
  background: hsl(200, 100%, 50%);
}

#page1[data-season="w-1924"] {
  background-image: url("/img/landmark/france.png");
  background-size: 100%;
  background-position: 0px 300px;
}

#page2[data-season="r-1924"] {
  background: hsl(200, 100%, 40%);
}

#page3[data-season="w-1936"] {
  background: hsl(200, 100%, 35%);
}

#page4[data-season="r-1936"] {
  background: hsl(200, 100%, 30%);
}

#page5[data-season="w-1948"] {
  background: hsl(200, 100%, 25%);
}

#page6[data-season="d-1948"] {
  background: hsl(200, 100%, 20%);
}

#page7[data-season="w-1984"] {
  background: hsl(200, 100%, 15%);
}

#page8[data-season="r-1984"] {
  background: hsl(200, 100%, 10%);
}

#page9[data-season="w-2022"] {
  background: hsl(200, 100%, 5%);
}

#page10[data-season="r-2022"] {
  background: hsl(200, 100%, 0%);
}
/****************************** Winter ******************************/

/****************************** Data-Set-background ******************************/


/****************************** Grid ******************************/
.grid {
	display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  z-index: 2;
}

.column-3 {
	grid-template-columns: repeat(3, 1fr);
}
.grid > div.span-3 {
	grid-column: span 3;
}

.column-4 {
	grid-template-columns: repeat(4, 1fr);
}
.grid > div.span-4 {
	grid-column: span 4;
}

.column-6 {
	grid-template-columns: repeat(6, 1fr);
}
.grid > div.span-6 {
	grid-column: span 6;
}

.column-8 {
	grid-template-columns: repeat(8, 1fr);
}
.grid > div.span-8 {
	grid-column: span 8;
}

.column-12 {
	grid-template-columns: repeat(12,1fr);
}
.grid > div.span-12 {
	grid-column: span 12;
}
/****************************** Grid ******************************/


/****************************** Switch SS ******************************/
.change {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;

}
/****************************** Switch SS ******************************/



/****************************** Barrier ******************************/
.barrier {
  width: 100px;
  height: 100px;
  bottom: 1rem;
  position: absolute;
  z-index: 3;
  background-image: url("/img/barrier/barrier.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.barrier[data-barrier="1"] {
  right: 9rem;
}

.barrier[data-barrier="2"] {
  right: 9rem;
}

.barrier[data-barrier="3"] {
  left: 20rem;
}

.barrier[data-barrier="4"] {
  left: 0rem;
  background: yellow;
}
/****************************** Barrier ******************************/

/****************************** Change Season ******************************/
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 200px;
	height: 100px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 90px;
	height: 90px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}
/****************************** Change Season ******************************/

/****************************** Cloud ******************************/
.cloud {
  width: 200px;
  height: 100px;
  background-image: url("/img/background/cloud.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  animation: cloud 20s linear infinite;
}

.cloud[data-cloud="1"] {
  margin: 0 0 35rem;
  transform: scale(2.5);
}

.cloud[data-cloud="2"] {
  margin: 0 0 25rem 65rem;
  transform: scale(2.5);
}

.cloud[data-cloud="3"] {
  margin: 0 55rem 15rem 0;
  transform: scale(2);
}

.cloud[data-cloud="4"] {
  margin: 0 0 48rem 45rem;
  transform: scale(1.5);
}

.cloud[data-cloud="5"] {
  margin: 0 0 38rem 50rem;
  transform: scale(.75);
}

.cloud[data-cloud="6"] {
  margin: 0 0 10rem 40rem;
  transform: scale(.5);
}

.cloud[data-cloud="7"] {
  margin: 0 0 20rem 15rem;
  transform: scale(.75);
}

.cloud[data-cloud="8"] {
  margin: 0 10rem 15rem 0;
  transform: scale(.5);
}

.cloud[data-cloud="9"] {
  margin: 0 30rem 22rem 0;
  transform: scale(.75);
}

.cloud[data-cloud="10"] {
  margin: 0 45rem 28rem 0;
  transform: scale(.75);
}

.cloud[data-cloud="11"] {
  margin: 0 37rem 40rem 0;
  transform: scale(.75);
}

.cloud[data-cloud="12"] {
  margin: 0 55rem 38rem 0;
  transform: scale(.5);
}


@keyframes cloud {
  from {right: -50%;}
  to {right: 150%;}  
}
/****************************** Cloud ******************************/

